{:lib             com.github.ivarref/yoltq

 :version         "v0.2.{{git/commit-count}}"

 :github-actions? true

 :scm             {:connection          "scm:git:git://github.com/ivarref/yoltq.git"
                   :developerConnection "scm:git:ssh://git@github.com/ivarref/yoltq.git"
                   :url                 "https://github.com/ivarref/yoltq"}

 :documents       [{:file          "README.md"
                    :match-exactly "#### [Unreleased]"
                    :action        :append-after
                    :text          "\n#### [{{version}}] - {{now/yyyy}}-{{now/mm}}-{{now/dd}}"}
                   {:file          "README.md"
                    :match-exactly "com.github.ivarref/yoltq {:git/tag"
                    :action        :replace
                    :keep-indent?  true
                    :text          "com.github.ivarref/yoltq {:git/tag \"{{version}}\" :git/sha \"{{git/head-long-sha}}\"}"}
                   {:file          "README.md"
                    :match-exactly "com.github.ivarref/yoltq {:mvn/version"
                    :action        :replace
                    :keep-indent?  true
                    :text          "com.github.ivarref/yoltq {:mvn/version \"{{version}}\"}"}]

 :licenses        [{:name "Eclipse Public License - v 2.0"
                    :url  "https://www.eclipse.org/legal/epl-2.0/"}]}